
.menu-container {
    background-color: white;
    position: fixed;
    width: 10vh;
    height: 10vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        font-size: 30px;
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    :hover {
        background-color: #d3d3d3;  
    }
}

.sidebar-menu {
    background-color: white;
    width: 10vh;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: default;
    nav {        
        position: relative;
        top: 10px;
        a {
            text-decoration: none;
            color: inherit;
        }
    }

}

.icon-container {
    width: 8vh;
}

.ReactModal__Overlay {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2) !important;
}
