.sidebar-container {
    background-color: white;
    height: 100vh;
    width: 10vh;
    position: fixed;
    top: 10%;
    left: 0;
        nav {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 10px;

            a {
                width: 80%;
                text-decoration: none;
                color: inherit;
                display: flex;
            }
        }
}

.icon-container {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
    gap: 5px;
}

:hover.icon-container {
    background-color: #d3d3d3;
}


.icon-label {
    font-size: 15px;
}
